* {
  box-sizing: border-box;
}
.people {
  zoom: 50%;
}

.column {
  float: left;
  width: 40%;
  padding: 20px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.caption {
  padding: 0px;
  display: block;
  font-size: large;
}
